example-flow.json
[
    {
        "id": "b26d3a7cc456a1d8",
        "type": "tab",
        "label": "Example flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "918d73d609d71914",
        "type": "sinch-message",
        "z": "b26d3a7cc456a1d8",
        "name": "Welcome message",
        "message": "{\n    \"text_message\":{ \n        \"text\": \"Hello {{name}}, Welcome to Sinch!\"\n    }\n}",
        "x": 650,
        "y": 120,
        "wires": [
            [
                "25a4139ed922705c"
            ]
        ]
    },
    {
        "id": "d08c836351dff5f4",
        "type": "sinch-received-message",
        "z": "b26d3a7cc456a1d8",
        "name": "",
        "convapiConfiguration": "",
        "inputs": 0,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "9fa6d72017d5d545"
            ]
        ]
    },
    {
        "id": "736d932371771a05",
        "type": "inject",
        "z": "b26d3a7cc456a1d8",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "3b818aece10fa705"
            ]
        ]
    },
    {
        "id": "25a4139ed922705c",
        "type": "sinch-send",
        "z": "b26d3a7cc456a1d8",
        "name": "Send first message",
        "convapiConfiguration": "",
        "ttl": "",
        "receive": false,
        "x": 910,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ce30c1803245b1eb",
        "type": "sinch-events",
        "z": "b26d3a7cc456a1d8",
        "name": "Message Deliveries",
        "events": "messageDeliveryReport",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "86784d41efd6e8c9"
            ]
        ]
    },
    {
        "id": "86784d41efd6e8c9",
        "type": "debug",
        "z": "b26d3a7cc456a1d8",
        "name": "Inspect event data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "3b818aece10fa705",
        "type": "sinch-start-conversation",
        "z": "b26d3a7cc456a1d8",
        "name": "Init conversation",
        "variables": "{ \"name\": \"Calle\" }",
        "channelIdentities": [
            {
                "channel": "TELEGRAM",
                "identity": "1449922041"
            }
        ],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "918d73d609d71914"
            ]
        ]
    },
    {
        "id": "9fa6d72017d5d545",
        "type": "sinch-message",
        "z": "b26d3a7cc456a1d8",
        "name": "Interesting question",
        "message": "{\n    \"text_message\":{ \n        \"text\": \"Would you recommend Sinch as a place to work?\"\n    }\n}",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "5c9ddb383877223d"
            ]
        ]
    },
    {
        "id": "5c9ddb383877223d",
        "type": "sinch-send",
        "z": "b26d3a7cc456a1d8",
        "name": "Send first question",
        "convapiConfiguration": "",
        "ttl": "",
        "receive": true,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "e7df815029b40ebc"
            ],
            []
        ]
    },
    {
        "id": "e7df815029b40ebc",
        "type": "sinch-message",
        "z": "b26d3a7cc456a1d8",
        "name": "Thank you message",
        "message": "{\n    \"text_message\":{ \n        \"text\": \"Thanks for your answer {{name}}. Have a lovely weekeend!\"\n    }\n}",
        "x": 660,
        "y": 320,
        "wires": [
            [
                "b76079e90d42f18f"
            ]
        ]
    },
    {
        "id": "b76079e90d42f18f",
        "type": "sinch-send",
        "z": "b26d3a7cc456a1d8",
        "name": "Send final message",
        "convapiConfiguration": "",
        "ttl": "",
        "receive": false,
        "x": 910,
        "y": 320,
        "wires": [
            [],
            []
        ]
    }
]